<h2>Template: Dinamics</h2>
<hr />

<form (ngSubmit)="save()" autocomplete="off" #myForm="ngForm">
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Name</label>
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        placeholder="Person Name"
        [ngModel]="person.name"
        name="name"
        autocomplete="false"
        required
      />
      <span
        class="form-text text-danger"
        *ngIf="myForm.controls.name?.errors && myForm.controls.name.touched"
        >Esta es una validación</span
      >
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Game</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input
          class="form-control"
          placeholder="Favorito"
          [(ngModel)]="newGame"
          name="newGame"
        />
        <button class="btn btn-outline-primary" (click)="add()">Add</button>
      </div>
    </div>
  </div>
  <div class="mb-3 row" *ngIf="person.favorites.length > 0">
    <label class="col-sm-3 col-form-label">Favorites</label>
    <div class="col-sm-9 mb-1">
      <div
        class="input-group mb-2"
        *ngFor="let game of person.favorites; let i = index"
      >
        <input
          class="form-control"
          [(ngModel)]="game.name"
          name="favorite:{{ i }}"
          [value]="game.name"
          required
        />
        <button class="btn btn-outline-danger" (click)="delete(i)">Del</button>
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <div class="col-sm-12">
      <button
        type="button"
        (click)="save()"
        class="btn btn-primary float-end"
        [disabled]="myForm.invalid"
      >
        Save
      </button>
    </div>
  </div>
</form>

<span>Person</span>
<pre>{{ person | json }}</pre>
