<h2>Template: Basics</h2>
<hr />

<div class="row">
  <div class="col">
    <form (ngSubmit)="save()" #myForm="ngForm">
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            ngModel
            [ngModel]="initForm.product"
            name="product"
            placeholder="Nombre Producto"
            autocomplete="false"
            required
            minlength="3"
          />
          <span class="form-text text-danger" *ngIf="isNameValid()"
            >Esta es una validación</span
          >
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            ngModel
            [ngModel]="initForm.price"
            name="price"
            placeholder="Precio Producto"
            required
            min="0"
          />
          <span class="form-text text-danger" *ngIf="isPriceValid()"
            >Esta es una validación</span
          >
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Stock</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            ngModel
            [ngModel]="initForm.price"
            name="stock"
            customMin
            [min]="0"
            placeholder="Stock Producto"
            required
          />
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col">
          <button
            type="submit"
            class="btn btn-primary float-end"
            [disabled]="myForm.invalid"
          >
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{ myForm.valid }} </pre>
    <span>Pristine</span>
    <pre>{{ myForm.pristine }} </pre>
    <span>Touched</span>
    <pre>{{ myForm.touched }} </pre>
    <span>Value</span>
    <pre>{{ myForm.value | json }} </pre>
    <span>Errors</span>
    <pre>{{ myForm.controls.stock?.errors | json }} </pre>    
  </div>
</div>
