<h2>Reactive: Basics</h2>
<hr />

<div class="row">
  <div class="col">
    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="save()">
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre Producto"
            formControlName="name"
          />
          <span class="form-text text-danger" *ngIf="isValid('name')">Esta es una validación</span>
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Precio Producto"
            formControlName="price"
          />
          <span class="form-text text-danger" *ngIf="isValid('price')"
            >Esta es una validación</span
          >
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Stock</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Stock Producto"
            formControlName="stock"
          />
          <span class="form-text text-danger" *ngIf="isValid('stock')"
            >Esta es una validación</span
          >          
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col">
          <button
            type="submit"
            class="btn btn-primary float-end"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{ myForm.valid }} </pre>
    <span>Pristine</span>
    <pre>{{ myForm.pristine }} </pre>
    <span>Touched</span>
    <pre>{{ myForm.touched }} </pre>
    <span>Value</span>
    <pre>{{ myForm.value | json }} </pre>
    <span>Form Errors</span>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Atribute</th>
          <th scope="col">Error</th>
        </tr>
      </thead>
      <tbody>      
      <tr><td>Product</td><td><pre>{{ myForm.controls.name?.errors | json }}</pre></td></tr>
      <tr><td>Price</td><td><pre>{{ myForm.controls.price?.errors | json }}</pre></td></tr>
      <tr><td>Stock</td><td><pre>{{ myForm.controls.stock?.errors | json }}</pre></td></tr>
      </tbody>
    </table>
  </div>
</div>
