<h2>Reactive: Dinamics</h2>
<hr />

<form autocomplete="off">
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Name</label>
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        placeholder="Person Name"
      />
      <span
        class="form-text text-danger"
        >Esta es una validación</span
      >
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Game</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input
          class="form-control"
          placeholder="Favorito"
        />
        <button class="btn btn-outline-primary">Add</button>
      </div>
    </div>
  </div>
  <div class="mb-3 row" *ngIf="person.favorites.length > 0">
    <label class="col-sm-3 col-form-label">Favorites</label>
    <div class="col-sm-9 mb-1">
      <div
        class="input-group mb-2"
        *ngFor="let game of person.favorites; let i = index"
      >
        <input
          class="form-control"
        />
        <button class="btn btn-outline-danger">Del</button>
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <div class="col-sm-12">
      <button
        type="button"
        class="btn btn-primary float-end"
      >
        Save
      </button>
    </div>
  </div>
</form>

<span>Person</span>
<pre>{{ person | json }}</pre>
